
.itemListContainer {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}