.counterContainer {
    display: block;
    padding: 5px;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px blueviolet;
    margin: 5px 0;
    width: 100%;
}

.itemCount {
    display: flex;
    align-items: center;
}
