.counterContainer {
    display: block;
    padding: 5px;
    text-align: center;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px blueviolet;
    margin: 5px 0;
    width: 10%;
}

.itemCount {
    display: flex;
    align-items: center;
    text-align: center;
}

.estilosContador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border: solid 2px blueviolet;
    color: black;
    margin: 10px auto;
    padding: 10px;
}

.botonAgregar{
    margin: 30px;
}